{% extends "bootstrap/base.html" %}
{% block title %}{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Dash</a>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/all_data">All data</a></li>
            <li><a href="/year_data">Year data</a></li>
            <li><a href="/movie_data">Movie data</a></li>
            <li><a href="/sql">SQL</a></li>
            <li><a href="/heat_map">Heat map</a></li>
            <li><a href="/notebook">Notebook view</a></li>
            <li><a href="/rating_prediction">Rating prediction</a></li>
         </ul>
      </div>
   </div>
</div>
{% endblock %}
{% block content %}
{% block page_content %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}