{% extends "base.html" %}
{% block content %}
{{ super() }}



<html>
    <head>
        <title>首页</title>
    </head>
    <body>
        {% if name %}
            <h1>YOUR QUERY,{{ name }}!</h1>
        {% else %}
            <h1>PLEASE ENTER QUERY!</h1>
        {% endif %}

        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label  }} {{ form.name() }}
            {{ form.submit() }}
        </form>
    </body>


</html>


<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Query result</h1>
  {% for table in tables %}
    
    {{ table|safe }}
  {% endfor %}
</div>

{% endblock %}