<!--credit :  https://www.dashingd3js.com/using-json-to-simplify-code -->


<!DOCTYPE html>
<html lang="en">

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>


// add json data 

var jsonCircles = [
   {
    "x_axis": 30,
    "y_axis": 30,
    "radius": 20,
    "color" : "green"
   }, {
    "x_axis": 70,
    "y_axis": 70,
   "radius": 20,
   "color" : "purple"
  }, {
   "x_axis": 110,
   "y_axis": 100,
   "radius": 20,
   "color" : "red"
}];



// create svg object in html body 
var svgContainer = d3.select("body").append("svg")
                                     .attr("width", 200)
                                     .attr("height", 200);
 
// add circle object in svg 
var circles = svgContainer.selectAll("circle")
                          .data(jsonCircles)
                          .enter()
                          .append("circle");

// add attribute to svg circle object : x,y,r, color. 
// and plot them as circles 
var circleAttributes = circles
                       .attr("cx", function (d) { return d.x_axis; })
                       .attr("cy", function (d) { return d.y_axis; })
                       .attr("r", function (d) { return d.radius; })
                       .style("fill", function(d) { return d.color; });


</script>


<head>
     

</head>

<body>



</body>
</html> 



