{% extends "base.html" %}
{% block content %}
{{ super() }}

<html>
    <head>
        <title>首页</title>
    </head>
    <body>

     <form method="POST">
            
            {{ form.query.label  }} 
            {{ form.query() }}
            {{ form.submit() }} 
            
              
     </form>
        {% if query %}
            <h1>Hello,{{ query }}!</h1>
        {% else %}
            <h1>Hello Stranger!</h1>
        {% endif %}

       
    </body>
</html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Query result</h1>
  {% for output in tables %}
    
    {{ output|safe }}
  {% endfor %}
</div>

{% endblock %}