{% extends "bootstrap/base.html" %} {% block title %}TOOL X{% endblock %} {% block head %} {{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> {% endblock %} {% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TOOL X</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/access_request">access_request</a></li>
                <li><a href="/deletion_request">deletion_request</a></li>
                <li><a href="/tool_report">tool_report</a></li>
                <li><a href="/todolist">dev</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %} {% block page_content %}{% endblock %}
</div>
<html>

<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <h1>Report Tool</h1>
        <br>
        <form method="post">
            <input type="text" id="keyword" placeholder="keyword" name="keyword" value="{{
               request.form.username }}">
            <input class="btn btn-default" value="Search" onclick="window.location.href=$('#keyword').val()">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</body>

</html>

<h1>RESULTS</h1> {% if not error %}
<table border=1 cellpadding=7>
    <tr>
        {% for col in data.columns %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>

    {% for i, j in data.iterrows() %}
    <tr>
        {% for col in data.columns %}
        <td>{{ j[col]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>

</html>

{% endblock %} {% block scripts %} {{ super() }} {{ moment.include_moment() }} {% endblock %}


